/*****************/
/* MAIN SELECTOR */
/****************/

/* FONT */
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --article-link: #007bff;
    --article-link-hover: #0056b3;
    --header-bg: #f9f9f9;
    --article-border: #eaeaea;
    --clear-grey: #bbbbbb;
    --white: #fff;
    --work-label: #0766F0;
    --team-label: #DC5E53;
    --news-label: #98DC62;
    --font: sans-serif;
    --roboto: 'Roboto', sans-serif;
    --padding-label: 0.4em 0.2em 0.2em 0.2em;
}


.container {
    /* display */
    display: flex;
    /* font-style */
    font-family: var(--roboto);
}

/*****************/
/* PRESENTATION */
/****************/


.presentation {
    /* font-style */
    color: var(--white);
    /* display */
    background-image: url(./images/nicole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}


/* TITLE */

.presentation__title {
    /* font-style */
    letter-spacing: 0.1em;
    /* display */
    display: flex;
    /* box-model */
    padding: 3% 0 0 7%;


}

.presentation__title--logo {
    /* display */
    width: 2em;
}

.presentation__title--txt {
    /* font-style */
    font-size:2em;
    font-weight: bold;
    text-transform: uppercase;
    /* display */
    width: 25%;
    /* box-model */
    margin: 1.5em 0 0 0.5em;
}


/* LAST NEWS */

.last-news {
    /* display */
    background-color: rgba(128, 128, 128, 0.25);
    width: 80%;
    text-align: end;
    position: relative;
    top: 40%;
    /* box-model */
    margin: 0 auto;
    padding: 5%;
}



.last-news__title {
    /* font-style */
    font-size: 2em;
    /* box-model */
    padding-bottom: 0.5em;
}

.last-news__title--italic-txt {
    /* font-style */
    font-style: italic;
    font-size: 0.5em;
}

.last-news__txt {
    /* font-style */
    font-weight: lighter;
    font-size: 1em;
}


/* INFO */

.footer-info {
    /* font-style */
    font-size: 1em;
    /* display */
    position: absolute;
    bottom: 3%;
    right: 50%;
}

.info {
    /* display */
    display: flex;
}

.info__plan,
.info__mentions,
.info__contact {
    /* box-model */
    padding-right: 1em;
}

.info__plan:hover {
    /* font-style */
    color: var(--team-label);
}

.info__mentions:hover {
    /* font-style */
    color: var(--team-label);
}

.info__contact:hover {
    /* font-style */
    color: var(--team-label);
}



/*************/
/* NEWS */
/****************/

.news {
    /* display */
    width: 50%;
    height: 100vh;
    overflow-y: scroll;

}

.news__header {
    /* display */
    width: 100%;
    background-color: var(--header-bg);
}

.news__header-title {
    /* font-style */
    font-size: 2em;
    font-weight: bold;
    /* box-model */
    padding: 0.5em 0 0.5em 1em;
}

/* ARTICLE */
.news__article {
    /* display */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.news__article--bloc {
    /* display */
    width: 40%;
    border: 1px ridge var(--article-border);
    /* box-model */
    padding: 2em;
}

/*label*/
.news__article--label-news {
    /* font-style */
    color: var(--white);
    font-family: var(--roboto);
    font-size: 0.65em;
    font-weight: bold;
    /* display */
    width: 3.5em;
    background-color: var(--news-label);
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    /* box-model */
    padding: var(--padding-label);
}

.news__article--label-work {
    /* font-style */
    color: var(--white);
    font-family: var(--roboto);
    font-size: 0.65em;
    font-weight: bold;
    /* display */
    width: 3.5em;
    background-color: var(--work-label);
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    /* box-model */
    padding: var(--padding-label);
}

.news__article--label-team {
    /* font-style */
    color: var(--white);
    font-family: var(--roboto);
    font-size: 0.65em;
    font-weight: bold;
    /* display */
    width: 3.5em;
    background-color: var(--team-label);
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    /* box-model */
    padding: var(--padding-label);
}


.news__article--title {
    /* font-style */
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    /* box-model */
    padding: 1em 0;
}

.news__article--author {
    /* display */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news__article--author-img {
    /* display */
    width: 10%;
}

.news__article--author-name {
    /* font-style */
    font-size: 0.65em;
    font-weight: bold;
    /* box-model */
    padding-left: 0.5em;
}

.news__article--author-date {
    /* font-style */
    font-weight: 100;
    color: var(--clear-grey);

}

.news__article--txt {
    /* font-style */
    font-size: 1em;
    line-height: 1.5em;
    /* box-model */
    padding: 1em 0;
}

.news__article--continue-link {
    /* font-style */
    font-weight: bold;
    color: var(--article-link);
}

.news__article--continue-link:hover {
    /* font-style */
    color: var(--article-link-hover);
}



/* MEDIA QUERIES */

@media (min-width: 0px) and (max-width: 800px) {

    .container {
        /* display */
        width: 100%;
        flex-direction: column;
    }

    .presentation {
        /* display */
        width: 100%;
    }

    .footer-info {
        font-size: 00.65em;
        /* display */
        bottom: 0;
        left: 0;
        top: 3%;
        left: 3%;
    }

    .news {
        /* display */
        width: 100%;
    }

    .news__article--bloc {
        width: 100%;
    }

}

@media (min-width: 820px) and (max-width: 900px) {

    .container {
        /* display */
        width: 100%;
        flex-direction: column;
    }

    .presentation {
        /* display */
        width: 100%;
        /* box-model */
        
    }

    .last-news {
        /* display */
        top: 100%;
    }

    .footer-info {
        /* display */
        position: absolute;
        bottom: 0;
        left: 0;
        top: 3%;
        left: 3%;
    }

    .news {
        /* display */
        width: 100%;
    }

    


}

@media (min-width: 900px) and (max-width: 1380px) {

    .news__article--bloc {
        width: 100%;
    }
}