/*****************/
/* MAIN SELECTOR */
/****************/

/* FONT */
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --article-link: #007bff;
    --article-link-hover: #0056b3;
    --header-bg: #f9f9f9;
    --article-border: #eaeaea;
    --clear-grey: #bbbbbb;
    --white: #fff;
    --work-label: #0766F0;
    --team-label: #DC5E53;
    --news-label: #98DC62;
    --font: sans-serif;
    --roboto: 'Roboto', sans-serif;
    --padding-label: 0.4em 0.2em 0.2em 0.2em;

}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: var(--roboto);
}

/*****************/
/* PRESENTATION */
/****************/


.presentation {
    /* font-style */
    color: var(--white);
    /* display */
    background-image: url(./images/nicole.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    width: 50%;
}


/* TITLE */

.presentation__title {
    display: flex;
    width: 30%;
    padding: 10% 0 0 6%;
    letter-spacing: 0.1em;

}

.presentation__title--logo {
    width: 18%;
}

.presentation__title--txt {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    width: 2em;
    margin: 1em 0 0 0.5em;
}


/* LAST NEWS */

.last-news {
    background-color: rgba(128, 128, 128, 0.25);
    width: 80%;
    text-align: end;
    position: relative;
    top: 40%;
    margin: 0 auto;
    padding: 5%;
}



.last-news__title {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.last-news__title--italic-txt {
    font-style: italic;
    font-size: 0.5em;
}

.last-news__txt {
    font-weight: lighter;
}


/* INFO */

.footer-info {
    position: absolute;
    bottom: 3%;
    left: 20%;
}

.info {
    display: flex;
}

.info__plan,
.info__mentions,
.info__contact {
    padding-right: 1em;
}

.info__plan:hover {
    color: var(--team-label);
}

.info__mentions:hover {
    color: var(--team-label);
}

.info__contact:hover {
    color: var(--team-label);
}



/*************/
/* NEWS */
/****************/

.news {
    width: 50%;
}

.news__header {
    width: 100%;
    height: 3em;
    background-color: var(--header-bg);
}

.news__header-title {
font-size: 1.5em;
font-weight: bold;
padding: 0.5em 0 0 1em;
}

/* ARTICLE */
.news__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: 55.5em;

}

.news__article--bloc {
    width: 40%;
    border: 1px ridge var(--article-border);
    padding: 2em;
}

/*label*/
.news__article--label-news {
    color: var(--white);
    font-family: var(--roboto);
    font-size: 0.65em;
    font-weight: bold;

    width: 3.5em;
    background-color: var(--news-label);
    text-transform: uppercase;
    text-align: center;

    border-radius: 3px;
    padding: var(--padding-label);
}

.news__article--label-work {
    color: var(--white);
    font-family: var(--roboto);
    font-size: 0.65em;
    font-weight: bold;

    width: 3.5em;
    background-color: var(--work-label);
    text-transform: uppercase;
    text-align: center;

    border-radius: 3px;
    padding: var(--padding-label);
}

.news__article--label-team {
    color: var(--white);
    font-family: var(--roboto);
    font-size: 0.65em;
    font-weight: bold;

    width: 3.5em;
    background-color: var(--team-label);
    text-transform: uppercase;
    text-align: center;

    border-radius: 3px;
    padding: var(--padding-label);
}


.news__article--title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1em 0;
}

.news__article--author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.news__article--author-img {
    width: 10%;
}

.news__article--author-name {
    font-size: 0.85em;
    font-weight: bold;
    padding-left: 0.5em;
}

.news__article--author-date {
    font-weight: 100;
    color: var(--clear-grey);
    
}

.news__article--txt {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 1em 0;
}

.news__article--continue-link {
    font-weight: bold;
    color: var(--article-link);
}

.news__article--continue-link:hover {
    color: var(--article-link-hover);
}

/* TEST */

/* MEDIA QUERIES */

@media (max-width: 520px)  {

    .container {
        width: 100%;
        flex-direction: column;
    }

    .presentation {
        width: 100%;
        background-size: 100%;
        padding-bottom: 15em;
    }

    .footer-info {
        bottom: 0;
        left: 0;
        top: 3%;
        left: 3%;
    }

    .news {
        width: 100%;
    }

}

@media (min-width: 820px) and (max-width: 900px) {

    .container {
        width: 100%;
        flex-direction: column;
    }

    .presentation {
        width: 100%;
        background-size: 100%;
        padding-bottom: 63em;
    }

    .last-news {
        top: 100%;
    }

    .footer-info {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 3%;
        left: 3%;
    }

    .news {
        width: 100%;
    }


}